.home{
    width: 100%;
    padding: 3rem 0;
    /* background: var(--main-color); */
    /* height: 100vh; */
    display: flex;
    /* align-items: center; */
}
.home-icons{
    display: grid;
    margin: 5rem 0 2rem 2rem;
    position: fixed;

}
.git-icons{
    width: 1rem !important;
    height: 2rem !important;
    color: white;
    cursor: pointer;
}
.leet-icons{
    width: 1rem !important;
    height: 2rem !important;
    color: white;
    cursor: pointer;
}
.code-icons{
    width: 1rem !important;
    height: 2rem !important;
    color: white;
    cursor: pointer;
}
.mail-icons{
    width: 1rem !important;
    height: 2rem !important;
    color: white;
    cursor: pointer;
}
.linked-icons{
    width: 1rem !important;
    height: 2rem !important;
    color: white;
    cursor: pointer;
}

.git-icons:hover{
    color:var(--light-color) ;
}
.code-icons:hover{
    color:var(--light-color) ;
}
.leet-icons:hover{
    color:var(--light-color) ;
}
.mail-icons:hover{
    color:var(--light-color) ;
}
.linked-icons:hover{
    color:var(--light-color) ;
}

.hr{
    width: 0.1px;
    height: 9rem;
    margin: 0.5rem;
    border: 1px solid lightslategray;
}

.inner-container{
    /* width: 80%; */
    width: 82%;
    /* background: var(--main-color); */
    /* height: 60vh; */
    /* height: 92vh; */
    margin: 0 auto;
    display: flex;
}
.left-container{
    text-align: left;
    /* padding: 2rem; */
    margin: auto 0;
}
.hi-text{
    font-size: 23px;
    font-family: monospace;
    font-weight: 500;
    color: var(--light-color);
    margin: 1rem 0;

}
.heading{
    font-size: 50px;
    font-family: monospace;
    font-weight: 500;
    color: var(--light-color);
}
.sub-heading{
    font-size: 30px;
    padding: 2rem 0;
    font-family: monospace;
    font-weight: 500;
    color: white;
}
.text{
    font-size: 18px;
    font-family: monospace;
    font-weight: 300;
    color: white;
}

.designation, .company{
    color: var(--light-color);
}
.right-container{
    margin: auto 5rem;
}

.button-div{
    width: 82%;
    align-items: center;
    display: flex;
    height: 4rem;
    /* margin: 0 7rem; */
    /* margin: 2rem 5rem; */
    margin: 0 auto;
    margin-top: 2rem;
    transition: var(--transition);
    /* background: var(--main-color); */
}
.contact{
    width: 12rem;
    height: 92%;
    font-size: 16px;
    font-family: monospace;
    font-weight: 400;
    letter-spacing: 0.5px;
    background: transparent;
    border: 1.5px solid var(--light-color);
    color: var(--light-color);
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}


.contact:hover{
    background-color: var(--light-color);
    color: var(--main-color);
    border: 1px solid var(--main-color);
    transition: 0.5s ease-in-out;
}


@media screen and (max-width:767px) {
    .home{
        padding: 1rem 0;
    }
    .inner-container{
        display: inline;
    }
    .heading{
        font-size: 40px;
    }
    .sub-heading{
        font-size: 22px;
    }
    .text{
        font-size: 17px;
    }
    .right-container{
        padding: 2rem auto;
    }
    .left-container{
        padding: 2rem;
    }
   .button-div{
       margin: 2rem;
       /* display: block; */
       justify-content: center;
   }
   .contact{
    width: 14rem;
    height: 90%;
    font-size: 19px;
   }
}
@media screen and (min-width:767px) and (max-width:1024px){
    .right-container{
        margin: auto 2rem;
    }
    .left-container{
        padding: 1rem auto;
    }
}